@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <h1 class="text-center">Chào mừng đến với trang Quản trị viên</h1>
</div>